<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>WeShopping</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap_table/bootstrap-table.css">
    <link rel="stylesheet" href="/static/tether-1.3.3/dist/css/tether.min.css">
    <link rel="stylesheet" href="/static/CSS/noResponse.css">
    <link rel="stylesheet" href="/static/bootstrap3-editable/css/bootstrap-editable.css"/>
    <link rel="stylesheet" href="/static/bootstrap-fileinput/css/fileinput.min.css"/>
    <link rel="stylesheet" href="/static/CSS/index.css">


    <script src="/static/tether-1.3.3/dist/js/tether.min.js" type="text/javascript"></script>
    <script src="/static/Javascript/jquery-2.2.1.min.js" type="text/javascript"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/bootstrap_table/bootstrap-table.js" type="text/javascript"></script>
    <script src="/static/bootstrap_table/bootstrap-table-editable.js" type="text/javascript"></script>

    <script src="/static/bootstrap_table/toolbar/bootstrap-table-toolbar.js"></script>
    <script src="/static/bootstrap3-editable/js/bootstrap-editable.js" type="text/javascript"></script>
    <script src="/static/bootstrap-fileinput/js/plugins/piexif.min.js" type="text/javascript"></script>
    <script src="/static/bootstrap-fileinput/js/plugins/sortable.min.js" type="text/javascript"></script>
    <script src="/static/bootstrap-fileinput/js/fileinput.min.js" type="text/javascript"></script>
    <script src="/static/Javascript/client-common.js" type="text/javascript"></script>
    <script src="/static/javascript/client-signup.js" type="text/javascript"></script>
    <script src="/static/javascript/client-login.js" type="text/javascript"></script>
    <script src="/static/javascript/client-user.js" type="text/javascript"></script>
    <script src="/static/javascript/index.js" type="text/javascript"></script>
</head>

<body>
    <div class="main" id="div-main">
        <nav class="nav" id="nav">
            <div class="logo">WeShopping-微购</div>
            <div class="search">
                <input type="text" class="search-input form-control" id="search-input" placeholder="商品名、店铺名"/>
                <button class="search-btn btn btn-primary" id="search-btn">Go</button>
            </div>
            <div class="nav-head"  id="<%if(logged){%>nav-head-logged<%}else{%>nav-head<%}%>">
                 <img id="user-head" class="user-head" src="<%=userHeader%>" alt="登陆">
                <!--<p>登录</p>-->
            </div>
            <div class="shopping-cart" id="shopping-cart">
                <span class="shopping-cart-span glyphicon glyphicon-shopping-cart"></span>
            </div>
        </nav>
        <div class="good-list" id="good-list">
            <!-- <div class="good">
                <div class="good-photo">
                    <img src="" alt="加载图片" id="img-src"/>
                </div>
                <div class="div-good-name">
                    <label class="good-name-lab">商品名商品名商品名商品名商品名</label>
                </div>
                <div class="div-good-shop">
                    <label class="good-shop-lab">店铺名</label>
                </div>
                <div class="div-good-price">
                    <label class="good-price-lab">￥18.5</label>
                </div>
                <div class="div-good-option">
                    <label class="good-shop-cart-btn btn btn-primary">加入购物车</label>
                    <label class="good-buy-btn btn btn-success">立即购买</label>
                </div>
            </div> -->
        </div>
    </div>

    <div class="cover-layer" id="div-cover-layer">

    </div>

    <div class="login" id="div-login">
        <div class="login-title">
            <h2>登录到WeShopping</h2>
        </div>
        <div class="login-cancel"  id="login-cancel">
            <span class="glyphicon glyphicon-remove"></span>
        </div>
        <div class="login-user" id="login-user">
            <lable for="login-user-input" class="login-user-lab control-label">账户</lable>
            <input type="text" class="form-control login-user-input" id="login-user-input" placeholder="电子邮箱/手机号">
            <lable for="login-user-input" class="login-user-prompt-lab control-label" id="login-user-prompt-lab"></lable>
        </div>
        <div class="login-passwd" id="login-passwd">
            <lable for="login-passwd-input" class="login-passwd-lab control-label">密码</lable>
            <input type="password" class="form-control login-passwd-input" id="login-passwd-input" placeholder="密码">
            <lable for="login-passwd-input" class="login-passwd-prompt-lab control-label" id="login-passwd-prompt-lab"></lable>
        </div>
        <div class="login-submit" id="login-submit">
            <button class="login-signup-btn btn btn-link" id="login-signup-btn">注册</button>
            <button class="login-login-btn btn btn-success" id="login-login-btn">登录</button>
        </div>
    </div>

    <div class="signup" id="div-signup">
        <div class="signup-title">
            <h2>注册到WeShopping</h2>
        </div>
        <div class="signup-cancel"  id="signup-cancel">
            <span class="glyphicon glyphicon-remove"></span>
        </div>
        <div class="signup-name" id="signup-name">
            <lable for="signup-name-input" class="signup-name-lab control-label">姓&nbsp;&nbsp;  名</lable>
            <input type="text" class="form-control signup-name-input" id="signup-name-input" placeholder="姓名">
            <lable for="signup-name-input" class="signup-name-prompt-lab control-label" id="signup-name-prompt-lab"></lable>
        </div>
        <div class="signup-phone" id="signup-phone">
            <lable for="signup-phone-input" class="signup-phone-lab control-label">手机号</lable>
            <input type="text" class="form-control signup-phone-input" id="signup-phone-input" placeholder="手机号">
            <lable for="signup-phone-input" class="signup-phone-prompt-lab control-label" id="signup-phone-prompt-lab"></lable>
        </div>
        <div class="signup-email" id="signup-email">
            <lable for="user" class="signup-email-lab control-label">邮&nbsp;&nbsp;  箱</lable>
            <input type="signup-email-input" class="form-control signup-email-input" id="signup-email-input" placeholder="邮箱">
            <lable for="signup-email-input" class="signup-email-prompt-lab control-label" id="signup-email-prompt-lab"></lable>
        </div>
        <div class="signup-passwd" id="signup-passwd">
            <lable for="signup-passwd-input" class="signup-passwd-lab control-label">密&nbsp;&nbsp;  码</lable>
            <input type="password" class="form-control signup-passwd-input" id="signup-passwd-input" placeholder="密码">
            <lable for="signup-passwd-input" class="signup-passwd-prompt-lab control-label" id="signup-passwd-prompt-lab"></lable>
        </div>
        <div class="signup-user-type" id="signup-user-type">
            <button class="signup-user-type-seller btn btn-default" id="signup-user-type-seller">商家</button>
            <button class="signup-user-type-origin btn btn-default active disabled" id="signup-user-type-origin">普通</button>
        </div>
        <div class="signup-submit" id="signup-submit">
            <button class="signup-signup-btn btn btn-success" id="signup-signup-btn">注册</button>
        </div>
    </div>

    <div class="user-center" id="div-user-center">
        <div class="user-center-title">
            <h2>个人中心</h2>
        </div>
        <div class="user-center-email">
            <label class="user-center-email-lab">邮箱:</label>
            <label class="user-center-email-lab-con" id="user-center-email-lab-con"></label>
        </div>
        <div class="user-center-phone">
            <label class="user-center-phone-lab">电话:</label>
            <label class="user-center-phone-lab-con" id="user-center-phone-lab-con"></label>
        </div>
        <div class="user-center-name">
            <label class="user-center-name-lab">姓名:</label>
            <label class="user-center-name-lab-con" id="user-center-name-lab-con"></label>
        </div>
        <div class="user-center-sex">
            <label class="user-center-sex-lab">性别:</label>
            <button class="user-center-sex-man-btn btn btn-default" id="user-center-sex-man-btn">男</button>
            <button class="user-center-sex-woman-btn btn btn-default" id="user-center-sex-woman-btn">女</button>
        </div>
        <div class="user-center-type">
            <label class="user-center-type-lab">类型:</label>
            <button class="user-center-type-seller-btn btn btn-default disabled" id="user-center-type-seller-btn">商家</button>
            <button class="user-center-type-origin-btn btn btn-default disabled" id="user-center-type-origin-btn">普通</button>
        </div>
        <div class="user-center-submit">
            <button class="user-center-submit-show-good-btn btn btn-link<%if(logged){%><%}else{%> disabled<%}%>" id="user-center-submit-show-good-btn">管理货物</button>
            <button class="user-center-submit-edit-btn btn btn-default" id="user-center-edit-btn">保存修改</button>
        </div>
    </div>
    <div class="div-seller-good" id="div-seller-good">
        <div class="seller-good-title" id="seller-good-title">
            <h2>商品管理</h2>
        </div>
        <div class="seller-good-cancel" id="seller-good-cancel">
            <span class="glyphicon glyphicon-remove"></span>
        </div>
        <div id="div-seller-good-table" class="div-seller-good-table">
            <div class="seller-good-tool-bar" id="seller-good-tool-bar">
                <a class="seller-good-add-btn btn btn-primary" id="seller-good-add-btn"><span class="glyphicon glyphicon-plus"></span>新增</a>
                <a class="seller-good-delete-btn btn btn-danger" id="seller-good-delete-btn"><span class="glyphicon glyphicon-remove"></span>删除</a>
            </div>
            <table id="seller-good-table" class="seller-good-table table table-bordered">
            </table>
        </div>
    </div>

    <div class="div-order" id="div-order">
        <div class="order-title" id="order-title">
            <h2>立即下单</h2>
        </div>
        <div class="order-cancel"  id="order-cancel">
            <span class="glyphicon glyphicon-remove"></span>
        </div>
        <div class="order-num" id="order-num">
            <lable for="order-num-input" class="order-num-lab control-label">数量</lable>
            <input type="number" class="form-control order-num-input" id="order-num-input" placeholder="购买数量" min="1">
            <lable for="login-user-input" class="order-num-prompt-lab control-label" id="order-num-prompt-lab"></lable>
        </div>

        <div class="order-addr" id="order-addr">
            <lable for="order-addr-input" class="order-addr-lab control-label">地址</lable>
            <input type="text" class="form-control order-addr-input" id="order-addr-input" placeholder="收货地址">
            <lable for="order-addr-input" class="order-addr-prompt-lab control-label" id="order-addr-prompt-lab"></lable>
        </div>
        <div class="order-message" id="order-message">
            <lable for="order-message-input" class="order-message-lab control-label">留言</lable>
            <input type="text" class="form-control order-message-input" id="order-message-input" placeholder="买家留言">
            <lable for="order-message-input" class="order-message-prompt-lab control-label" id="order-message-prompt-lab"></lable>
        </div>
        <div class="order-submit" id="order-submit">
            <button class="order-create-btn btn btn-danger" id="order-create-btn">确认下单</button>
            <button class="order-cancel-btn btn btn-success" id="order-cancel-btn">取消下单</button>
        </div>
    </div>


    <div class="div-order-confirm" id="div-order-confirm">
        <div class="order-confirm-title">
            <h2>订单确认</h2>
        </div>
        <div class="order-confirm-num">
            <label id="order-confirm-num-lab" class="order-confirm-num-lab">adaa</label>
        </div>
        <div class="order-confirm-addr">
            <label id="order-confirm-addr-lab" class="order-confirm-addr-lab">asdssd</label>
        </div>
        <div class="order-confirm-message">
            <label id="order-confirm-message-lab" class="order-confirm-message-lab">asasd</label>
        </div>
        <div class="order-confirm-money">
            <label id = "order-confirm-money-lab" class="order-confirm-money-lab">asdsa</label>
        </div>
        <div class="order-confirm-submit" id="order-confirm-submit">
            <button class="order-confirm-confirm-btn btn btn-danger" id="order-confirm-confirm-btn">确认下单</button>
            <button class="order-confirm-cancel-btn btn btn-success" id="order-confirm-cancel-btn">返回修改</button>
        </div>
    </div>

    <div id="div-order-table" class="div-order-table">
        <div class="order-table-title" id="order-table-title">
            <h2>订单管理</h2>
        </div>
        <div class="order-table-cancel" id="order-table-cancel">
            <span class="glyphicon glyphicon-remove"></span>
        </div>
        <table id="order-table" class="order-table table table-bordered">
        </table>
    </div>
    <!--<div class="seller-good">-->
        <!--<div class="seller-good-cancel"  id="seller-good-cancel">-->
            <!--<span class="glyphicon glyphicon-remove"></span>-->
        <!--</div>-->
        <!--<div class="seller-good-list">-->
            <!--<table class="table table-bordered">-->
                <!--<caption><h2>商品管理</h2></caption>-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>商品名称</th>-->
                    <!--<th>商品分类</th>-->
                    <!--<th>商品标签</th>-->
                    <!--<th>商品原价</th>-->
                    <!--<th>商品折扣</th>-->
                    <!--<th>商品价格</th>-->
                    <!--<th>商品操作</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                    <!--<tr class="seller-good-table-option">-->
                        <!--<td colspan="7"><span class="glyphicon glyphicon-plus"></span></td>-->
                    <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
    <!--</div>-->

<!--     <div class="seller-good">
        <div class="seller-good-list">
            <table class="table table-bordered">
                <caption><h2>订单管理</h2></caption>
                <thead>
                <tr>
                    <th>商品名称</th>
                    <th>商品分类</th>
                    <th>商品原价</th>
                    <th>商品折扣</th>
                    <th>商品操作</th>
                </tr>
                </thead>
                <tbody>
                    <tr id="seller-good-table-option">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->

    <div class="alert" id="alert">
        <div class="alert-title">
            <h2>WeShopping</h2>
        </div>
        <div class="alert-content" id="alert-content">
            <label  class="alert-content-lab" id="alert-content-lab">
                abcdefg中文
            </label>
        </div>
    </div>

    <div class="div-picture-upload" id="div-picture-upload">
        <input id="picture-upload" type="file" name="goodPic" accept="image/png"/>
    </div>
    <div class="user-option" id="div-user-option">
            <div class="user-option-item" id="user-option-center">
                <p>个人中心</p>
            </div>
            <div class="user-option-item" id="user-option-order">
                <p>查看订单</p>
            </div>
            <div class="user-option-item" id="user-option-shopCart">
                <p>购 物 车</p>
            </div>
            <div class="user-option-item user-option-quit" id="user-option-quit">
                <p>退出登录</p>
            </div>
    </div>
</body>
</html>