html{
    /*height:768px;*/
    width:1366px;
    margin:auto;
}

body{
    /*height:768px;*/
    width:100%;
    padding:0;
    margin:0;
    color: #555555;
    position:relative;
    /*overflow-x: hidden;*/
}

a{
    text-decoration:none;
}

label,input{
    display: inline-block;
}

h2{
    margin-top:0px;
}

img{
    border-style:none;
}

.main{
    width:1366px;
    padding:0;
    color: #555555;
}

.nav{
    top:0;
    height: 46px;
    width:1366px;
    padding:3px;
    background:#f6f6f6;
    box-shadow: 0 0 18px #e6e6e6;
    position:fixed;
    /*z-index: 20;*/
    /*border-radius: 6px;*/
}

.logo{
    display:inline-block;
    line-height: 40px;
    height: 40px;
    font-size:x-large;
    /*margin-left: 10px;*/
    padding-left:5px;
    padding-right:5px;
}
.logo:hover{
    background-color: #dddddd;
    cursor:pointer;
}

.search{
    height: 40px;
    display: inline-block;
    line-height: 40px;
    margin-left: 60px;
}

.search-input{
    vertical-align: top;
    display: inline-block;
    width: 450px;
}

.search-btn{
    vertical-align: top;
    width: 100px;
}

.shopping-cart{
    display: inline-block;
    width:40px;
    height: 40px;
    font-size: xx-large;
    vertical-align: top;
    color: #555555;
    float: right;
}

.shopping-cart:hover{
    cursor: pointer;
}

.shopping-cart-span{
    color: #555555;
    width: 40px;
    text-align: center;
}

.nav-head{
    display: inline-block;
    line-height: 40px;
    width:40px;
    height:40px;
    vertical-align: top;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    border-radius:20px;
    background: #cccccc;
    text-align: center;
}

.nav-head:hover{
    cursor: pointer;
}

.user-head{
    line-height: 40px;
    border-style: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.good-list{
    width: 1366px;
    margin-top: 46px;
}

.good{
    display: inline-block;
    width:328px;
    margin-right:5px;
    margin-left:5px;
    margin-top:5px;
    background-color: #dddddd;
    height: 430px;
    vertical-align: top;
    box-shadow: 0 0 18px #e6e6e6;
}

.div-good-name{
    font-size: x-large;
    display: inline-block;
    width: 300px;
    height: 30px;
    margin-left: 10px;
    overflow: hidden;
    vertical-align: center;
    line-height: 30px;
}

.good-name-lab{
    display: inline-block;
    width: 300px;
    margin: 0;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.good-name-lab:hover{
    cursor: pointer;
}

.div-good-shop{
    font-size: x-large;
    display: inline-block;
    width: 300px;
    height: 30px;
    margin-left: 10px;
    overflow: hidden;
    vertical-align: center;
    line-height: 30px;
}

.good-shop-lab{
    display: inline-block;
    width: 300px;
    margin: 0;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.good-shop-lab:hover{
    cursor: pointer;
}

.good-photo{
    display: inline-block;
    margin: 10px;
    width:300px;
    height:300px;
}

.good-img{
    display: inline-block;
    /*margin: 10px;*/
    width:300px;
    height:300px;
    /*repeat:;*/
}

.div-good-price{
    font-size: x-large;
    display: inline-block;
    width: 300px;
    height: 30px;
    margin-left: 10px;
    overflow: hidden;
    vertical-align: center;
    line-height: 30px;
}

.good-price-lab{
    float: right;
    display: inline-block;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.div-good-option{
    font-size: x-large;
    display: inline-block;
    width: 300px;
    height: 40px;
    margin-left: 10px;
    overflow: hidden;
    vertical-align: center;
    line-height: 30px;
}
.good-shop-cart-btn,.good-buy-btn{
    width: 120px;
    margin-left: 20px;
}

.cover-layer{
    position: fixed;
    z-index: 9;
    top:0;
    height: 100%;
    width: 1366px;
    /*width: 1366px;*/
    display: none;
    background-color:#000000;
    opacity:0.5;
    -moz-opacity:0.5;
    padding:10px;
    filter:alpha(opacity=50);
}


.login{
    width:400px;
    height:270px;
    padding:15px;
    position:absolute;
    top:150px;
    left:483px;
    z-index:10;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow:0 0 18px #e6e6e6;
    display: none;
    /*background-color:;*/
}

.login-title{
    display: inline-block;
    line-height: 30px;
    margin-bottom: 20px;
    margin-right: 0px;
    width:300px;
    vertical-align:center;
}

.login-cancel:hover{
    cursor: pointer;
    /*font-size: 25px;*/
}

.login-cancel{
    display: inline-block;
    float: right;
    line-height: 30px;
    font-size: 20px;
}


.login-user,.login-passwd{

}

.login-user-lab,.login-passwd-lab{
    display: inline-block;
    font-size: large;
    margin:0;
}

.login-user-input,.login-passwd-input{
    display: inline-block;
    width:320px;
}

.login-user-prompt-lab,.login-passwd-prompt-lab{
    display:block;
    height:30px;
    width: 300px;
    font-size: large;
    margin-left: 40px;
    line-height: 30px;
}


.login-submit{
    width:100%;
}

.login-signup-btn,.login-login-btn{
    width:150px;
}

.login-login-btn{
    margin-left: 50px;
}

.signup{
    width:400px;
    height:500px;
    padding:15px;
    position:absolute;
    top:150px;
    left:483px;
    z-index:11;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow:0 0 18px #e6e6e6;
    display: none;
    /*background-color:;*/
}

.signup-title{
    display: inline-block;
    line-height: 30px;
    margin-bottom: 20px;
    margin-right: 0px;
    width:300px;
    vertical-align:center;
}

.signup-cancel{
    display: inline-block;
    float: right;
    line-height: 30px;
    font-size: 20px;
}

.signup-cancel:hover{
    cursor: pointer;
    font-size: 25px;
}

.signup-phone-lab,.signup-email-lab,.signup-name-lab,.signup-passwd-lab{
    display: inline-block;
    font-size: large;
    margin:0;
    width:55px;
}

.signup-phone-input,.signup-email-input,.signup-name-input,.signup-passwd-input{
    display: inline-block;
    width:310px;
}

.signup-phone-prompt-lab,.signup-email-prompt-lab,.signup-name-prompt-lab,.signup-passwd-prompt-lab{
    display:block;
    height:30px;
    width: 300px;
    font-size: large;
    margin-left: 56px;
    line-height: 30px;
}

.signup-submit{
    width:100%;
}

.signup-signup-btn{
    width:100%;
    margin-left: auto;
    margin-right:auto;
}

.signup-user-type-seller,.signup-user-type-origin{
    margin-left: 20px;
    width:155px;
    border-radius: 0;
}

.signup-user-type-seller.active,.signup-user-type-origin.active{
    background-color:#ffffff;
    border-color:#2aabd2;
    box-shadow: 0 0 3px #2aabd2;
}

.signup-user-type{
    margin-bottom: 30px;
}

.alert{
    width:400px;
    height:200px;
    background-color: #f6f6f6;
    box-shadow:0 0 18px #e6e6e6;
    position: absolute;
    z-index: 20;
    top:150px;
    left:483px;
    display: none;
}

.alert-title{
    display: inline-block;
    line-height: 30px;
    margin-bottom: 20px;
    margin-right: 0px;
    width:300px;
    vertical-align:center;
}

.alert-content-lab{
    width:100%;
    height:20px;
    vertical-align: center;
    line-height: 20px;
    overflow: hidden;
}

/*
.signup-sex-women{

}*/

.good-list{
    /*width: */
}

.div-picture-upload{
    display: none;
    /*height: 400px;*/
    width: 600px;
    position: absolute;
    top: 90px;
    left: 383px;
    z-index: 18;
    background-color: #ffffff;
}

.user-option{
    width:100px;
    /*height:160px;*/
    position:fixed;
    top:50px;
    left:1266px;
    float:right;
    z-index:13;
    border-radius: 5px;
    background-color: #f6f6f6;
    box-shadow:0 0 6px #e6e6e6;
    display: none;
}

.user-option-item{
    width: 100%;
    height: 40px;
    display: block;
    line-height: 40px;
    border-bottom: 1px solid #c6c6c6;
    border-radius: 2px;
    font-size: large;
    text-align: center;
}

.user-option-item:hover{
    cursor: pointer;
    background-color: #c6c6c6;
}

.user-option-quit{
    color: #ee4136;
}

.user-center{
    width:400px;
    height:400px;
    padding:15px;
    position:absolute;
    top:150px;
    left:483px;
    z-index:11;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow:0 0 18px #e6e6e6;
    display: none;
}

.user-center-email,
.user-center-phone,
.user-center-name,
.user-center-sex,
.user-center-type,
.user-center-submit
{
    display: inline-block;
    line-height: 30px;
    height: 40px;
    vertical-align:center;
    margin-top: 10px;
    width: 370px;
}

.user-center-email-lab,
.user-center-phone-lab,
.user-center-name-lab,
.user-center-sex-lab,
.user-center-type-lab{
    display: inline-block;
    font-size: large;
    line-height: 30px;
    height: 30px;
    width: 60px;
    margin: 0;
    vertical-align: center;
    /*top:0;*/
}

.user-center-email-lab-con,
.user-center-phone-lab-con,
.user-center-name-lab-con{
    display: inline-block;
    width:300px;
    height: 30px;
    margin: 0;
    font-size: large;
    line-height: 30px;
    vertical-align: center;
}

.user-center-sex-man-btn,
.user-center-sex-woman-btn,
.user-center-type-seller-btn,
.user-center-type-origin-btn{
    display: inline-block;
    line-height: 30px;
    width:150px;
    height: 30px;
    font-size: large;
    padding: 0;
}

.user-center-submit-show-good-btn,
.user-center-submit-edit-btn{
    display: inline-block;
    line-height: 30px;
    width: 180px;
    height: 30px;
    font-size: large;
    padding: 0;
}

.div-seller-good{
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow:0 0 18px #e6e6e6;
    display: none;
    z-index: 14;
    /*display: inline-block;*/
    width: 1000px;
    height: 700px;
    position:absolute;
    top:0px;
    /*margin:auto;*/
    /*left: 183px;*/
    right:183px;
}

.seller-good-title{
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    /*font-size: x-large;*/
    text-align: center;
}

.seller-good-cancel{
    /*display: inline-block;*/
    /*float: right;*/
    line-height: 30px;
    font-size: 20px;
    position: absolute;
    /*left:970px;*/
    right:10px;
    top:10px;
    z-index: 15;
}

.seller-good-cancel:hover{
    cursor: pointer;
    /*font-size: 25px;*/
}

.div-seller-good-table{
    /*margin-top:50px; */
    position: relative;
    /*left:25px;*/
    width: 1000px;
    text-align: center;
    display: inline-block;
}

th{
    text-align: center;
}

.seller-good-add-btn,
.seller-good-delete-btn{
    width: 100px;
    margin-left: 10px;
}



.div-order{
    width:400px;
    height:350px;
    padding:15px;
    position:absolute;
    top:50px;
    left:483px;
    z-index:10;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow:0 0 18px #e6e6e6;
    display: none;
    /*background-color:;*/
}

.order-title{
    display: inline-block;
    line-height: 30px;
    margin-bottom: 20px;
    margin-right: 0px;
    width:300px;
    vertical-align:center;
}

.order-cancel:hover{
    cursor: pointer;
    /*font-size: 25px;*/
}

.order-cancel{
    display: inline-block;
    float: right;
    line-height: 30px;
    font-size: 20px;
}


.order-num,.order-addr,.order-message{

}

.order-num-lab,.order-addr-lab,.order-message-lab{
    display: inline-block;
    font-size: large;
    margin:0;
}

.order-num-input,.order-addr-input,.order-message-input{
    display: inline-block;
    width:320px;
}

.order-num-prompt-lab,.order-addr-prompt-lab,.order-message-prompt-lab{
    display:block;
    height:30px;
    width: 300px;
    font-size: large;
    margin-left: 40px;
    line-height: 30px;
}


.order-submit{
    width:100%;
}

.order-create-btn,.order-cancel-btn{
    width:150px;
}

.order-cancel-btn{
    margin-left: 50px;
}

/*.seller-good-table-option{
    text-align: center;
}

.seller-good-table-option:hover{
    cursor: pointer;
    background-color: #ffffff;
}*/

caption{
    text-align: center;
}

caption h2{
    margin: 0;
}

.span-hover:hover{
    cursor: pointer;
}


.div-order-confirm{
    width:400px;
    height:280px;
    padding:15px;
    position:absolute;
    top:50px;
    left:483px;
    z-index:10;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow:0 0 18px #e6e6e6;
    display: none;
    /*background-color:;*/
}

.order-title{
    display: inline-block;
    line-height: 30px;
    margin-bottom: 20px;
    margin-right: 0px;
    width:300px;
    vertical-align:center;
}

.order-confirm-num-lab,.order-confirm-addr-lab,.order-confirm-message-lab,.order-confirm-money-lab{
    display:inline-block;
    height:30px;
    width: 300px;
    font-size: large;
    margin-left: 50px;
    line-height: 30px;
}

.order-confirm-submit{
    width:100%;
}

.order-confirm-confirm-btn,.order-confirm-cancel-btn{
    width:150px;
}

.order-confirm-cancel-btn{
    margin-left: 50px;
}

.div-order-table{
    width:900px;
    height:600px;
    padding:15px;
    position:absolute;
    top:50px;
    left:233px;
    z-index:10;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow:0 0 18px #e6e6e6;
    display: none;
}

.order-table-cancel{
    position:absolute;
    right:10px;
    top:10px;
}

.order-table-cancel:hover{
    cursor: pointer;
}


/*.user-option-quit:hover{*/
    /*background-color: #bb4136;*/
/*}*/

/*.navbar{*/
/*width:1366px;*/
/*}*/

/*.container{*/
/*width:1366px;*/
/*margin:0;*/
/*}*/

/*.row-fluid{*/
/*vertical-align: middle;*/
/*}*/
/*.signin-form-div{*/
/*height: 200px;*/
/*margin-top: auto;*/
/*margin-bottom: auto;*/

/*}*/