html{
    /*height:768px;*/
    width:1366px;
    margin:auto;
}

body{
    /*height:768px;*/
    width:1366px;
    padding:0;
    color: #555555;
}

a{
    text-decoration:none;
}

label,input{
    display: inline-block;
}

h2{
    margin-top:0px;
}

img{
    border-style:none;
}

.main{
    width:1366px;
    padding:0;
    color: #555555;
}

.nav{
    top:0;
    height: 46px;
    width:1366px;
    padding:3px;
    background:#f6f6f6;
    box-shadow: 0 0 18px #e6e6e6;
    position:fixed;
    /*border-radius: 6px;*/
}

.logo{
    display:inline-block;
    line-height: 40px;
    height: 40px;
    font-size:x-large;
    /*margin-left: 10px;*/
    padding-left:5px;
    padding-right:5px;
}
.logo:hover{
    background-color: #dddddd;
    cursor:pointer;
}

.search{
    height: 40px;
    display: inline-block;
    line-height: 40px;
    margin-left: 60px;
}

.search-input{
    vertical-align: top;
    display: inline-block;
    width: 450px;
}

.search-btn{
    vertical-align: top;
    width: 100px;
}

.shopping-cart{
    display: inline-block;
    width:40px;
    height: 40px;
    font-size: xx-large;
    vertical-align: top;
    color: #555555;
    float: right;
}

.shopping-cart:hover{
    cursor: pointer;
}

.shopping-cart-span{
    color: #555555;
    width: 40px;
    text-align: center;
}

.nav-head{
    display: inline-block;
    line-height: 40px;
    width:40px;
    height:40px;
    vertical-align: top;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    border-radius:20px;
    background: #cccccc;
    text-align: center;
}

.nav-head:hover{
    cursor: pointer;
}

.user-head{
    line-height: 40px;
    border-style: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.good-list{
    width: 1366px;
    margin-top: 40px;
}

.good{
    display: inline-block;
    width:328px;
    margin-right:5px;
    margin-left:5px;
    margin-top:5px;
    background-color: #dddddd;
    height: 410px;
    vertical-align: top;
    box-shadow: 0 0 18px #e6e6e6;
}

.div-good-name{
    font-size: x-large;
    display: inline-block;
    width: 300px;
    height: 30px;
    margin-left: 10px;
    overflow: hidden;
    vertical-align: center;
    line-height: 30px;
}

.good-name-lab{
    display: inline-block;
    width: 300px;
    margin: 0;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.good-name-lab:hover{
    cursor: pointer;
}

.div-good-shop{
    font-size: x-large;
    display: inline-block;
    width: 300px;
    height: 30px;
    margin-left: 10px;
    overflow: hidden;
    vertical-align: center;
    line-height: 30px;
}

.good-shop-lab{
    display: inline-block;
    width: 300px;
    margin: 0;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.good-shop-lab:hover{
    cursor: pointer;
}

.good-photo{
    display: inline-block;
    margin: 10px;
    width:300px;
    height:240px;
}

.div-good-price{
    font-size: x-large;
    display: inline-block;
    width: 300px;
    height: 30px;
    margin-left: 10px;
    overflow: hidden;
    vertical-align: center;
    line-height: 30px;
}

.good-price-lab{
    float: right;
    display: inline-block;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.div-good-option{
    font-size: x-large;
    display: inline-block;
    width: 300px;
    height: 40px;
    margin-left: 10px;
    overflow: hidden;
    vertical-align: center;
    line-height: 30px;
}
.good-shop-cart-btn,.good-buy-btn{
    width: 120px;
    margin-left: 20px;
}

.cover-layer{
    position: absolute;
    z-index: 9;
    top:0;
    height: 100%;
    width: 1366px;
    /*width: 1366px;*/
    display: none;
    background-color:#000000;
    opacity:0.5;
    -moz-opacity:0.5;
    padding:10px;
    filter:alpha(opacity=50);
}


.login{
    width:400px;
    height:270px;
    padding:15px;
    position:absolute;
    top:150px;
    left:483px;
    z-index:10;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow:0 0 18px #e6e6e6;
    display: none;
    /*background-color:;*/
}

.login-title{
    display: inline-block;
    line-height: 30px;
    margin-bottom: 20px;
    margin-right: 0px;
    width:300px;
    vertical-align:center;
}

.login-cancel:hover{
    cursor: pointer;
    font-size: 25px;
}

.login-cancel{
    display: inline-block;
    float: right;
    line-height: 30px;
    font-size: 20px;
}


.login-user,.login-passwd{

}

.login-user-lab,.login-passwd-lab{
    display: inline-block;
    font-size: large;
    margin:0;
}

.login-user-input,.login-passwd-input{
    display: inline-block;
    width:320px;
}

.login-user-prompt-lab,.login-passwd-prompt-lab{
    display:block;
    height:30px;
    width: 300px;
    font-size: large;
    margin-left: 40px;
    line-height: 30px;
}


.login-submit{
    width:100%;
}

.login-signup-btn,.login-login-btn{
    width:150px;
}

.login-login-btn{
    margin-left: 50px;
}

.signup{
    width:400px;
    height:500px;
    padding:15px;
    position:absolute;
    top:150px;
    left:483px;
    z-index:11;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow:0 0 18px #e6e6e6;
    display: none;
    /*background-color:;*/
}

.signup-title{
    display: inline-block;
    line-height: 30px;
    margin-bottom: 20px;
    margin-right: 0px;
    width:300px;
    vertical-align:center;
}

.signup-cancel{
    display: inline-block;
    float: right;
    line-height: 30px;
    font-size: 20px;
}

.signup-cancel:hover{
    cursor: pointer;
    font-size: 25px;
}

.signup-phone-lab,.signup-email-lab,.signup-name-lab,.signup-passwd-lab{
    display: inline-block;
    font-size: large;
    margin:0;
    width:55px;
}

.signup-phone-input,.signup-email-input,.signup-name-input,.signup-passwd-input{
    display: inline-block;
    width:310px;
}

.signup-phone-prompt-lab,.signup-email-prompt-lab,.signup-name-prompt-lab,.signup-passwd-prompt-lab{
    display:block;
    height:30px;
    width: 300px;
    font-size: large;
    margin-left: 56px;
    line-height: 30px;
}

.signup-submit{
    width:100%;
}

.signup-signup-btn{
    width:100%;
    margin-left: auto;
    margin-right:auto;
}

.signup-sex-man,.signup-sex-women{
    margin-left: 20px;
    width:155px;
    border-radius: 0;
}

.signup-sex-man.active,.signup-sex-women.active{
    background-color:#ffffff;
    border-color:#2aabd2;
    box-shadow: 0 0 3px #2aabd2;
}

.signup-sex{
    margin-bottom: 30px;
}

.alert{
    width:400px;
    height:200px;
    background-color: #f6f6f6;
    box-shadow:0 0 18px #e6e6e6;
    position: absolute;
    z-index: 11;
    top:250px;
    left:483px;
    display: none;
}

.alert-title{
    display: inline-block;
    line-height: 30px;
    margin-bottom: 20px;
    margin-right: 0px;
    width:300px;
    vertical-align:center;
}

.alert-content-lab{
    width:100%;
    height:20px;
    vertical-align: center;
    line-height: 20px;
    overflow: hidden;
}

/*
.signup-sex-women{

}*/

.good-list{
    /*width: */
}


/*.navbar{*/
/*width:1366px;*/
/*}*/

/*.container{*/
/*width:1366px;*/
/*margin:0;*/
/*}*/

/*.row-fluid{*/
/*vertical-align: middle;*/
/*}*/
/*.signin-form-div{*/
/*height: 200px;*/
/*margin-top: auto;*/
/*margin-bottom: auto;*/

/*}*/